body {
  color:whitw;
  margin:0px;
  font-family:"Chakra Petch", sans-serif;
  margin-bottom:100px;
  {

header{
  bonder-bottom: Solid 2px rgb(42, 122, 228);
}

.chamada{
  backgrond: rgb(184, 156, 213);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto{
  margin-right: 5%;
}

h1 {
  font-size:40px;
}

  p {
    font-size:20px;
  }

  .categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }

  .categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }
  .categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  .categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }

  .categoria-video img:hover{
    opacity: 1.0;
    border: 3px solid green;
  }

  .categoria h2{
    color: rgb(42, 122, 228);
  }
  
